@media (max-width: 1350px) {
  .footer-wrapper {
    padding: 35px 150px 0 120px;

  }

  .top_img {
    padding-right: 20px;
  }
}


@media (max-width: 1225px) {
  .header-menu {
    padding: 24px 3% 24px;
  }
  .main-blog {
    padding: 0 10px 120px 60px;
    &__img{
      width: 50%;
    }

  }

  .top_img {
    margin-left: -30px;
    padding-left: 0;
    padding-right: 45px;
  }
  .wrapper-wont-block {

    grid-gap: 15px;
    margin: 0 18px;
  }

  .director-wrapper {

    padding: 0 3% 120px;
  }
  .our-cam {
    padding: 0 25px;
  }
  .asked {
    padding: 0 50px;
  }
  .award-item {
    padding: 0 30px 55px;
    :nth-child(5n) ~ div{
      display: none;
    }
  }
  .footer-wrapper {
    padding: 35px 3% 0;
  }

}

@media (max-width: 990px) {
  .main-top-text {
    padding: 140px 20px 0;
  }
  .director-wrapper {
    flex-wrap: wrap;
  }
  .director-wrapper-img {
    margin: 0 auto;
  }
  .director-block {
    padding-top: 40px;
    margin: 0 auto;
  }
  .award-item {
    justify-content: space-around;
    :nth-child(4n) ~ div{
      display: none;
    }
  }
  .video-block {

    flex-direction: column;
  }
  .ground {
    left: -100px;
    width: 100%;

  }
  .arrow-video {
    left: 35%;
    top: 30%;
  }
  .circle {
    top: 35%;
  }
  .circle-wrapper {
    top: 36%;
  }
  .mail {
    padding: 80px 20px;
    display: flex;
    justify-content: center;
  }
  .sub_btn {

    right: 38%;
    top: 73%;
  }
}

@media (max-width: 767.98px) {
  .arrow-video {
    left: 46%;
    top: 37%;
  }
  .award-item {

    :nth-child(3n) ~ div {
      display: none;
    }
  }
  .footer-wrapper {
    padding: 35px 10px 0;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .footer-nav {
    padding-left: 0;
    grid-gap: 10px;
  }
  .footer-logo {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

}

@media (max-width: 575.98px) {
  .main-blog {
    flex-wrap: wrap;
    padding: 0 10px 50px 10px;
    text-align: center;
  }
  .main-blog__img {
    width: 100%;
    margin: 0 auto;
  }
  .top_img {

    padding: 0;
  }
  .blog-bottom {
    margin: 0 auto;
  }
  .director-wrapper-img__photo {

    width: 100%;
  }
  .director-block {

    padding-left: 0;
    text-align: center;
  }
  .scroll-wrapper {

    justify-content: center;
    padding-top: 20px;
  }
  .arrow-video {
    left: 35%;
    top: 29%;
  }
  .ground {
    left: -25px;
  }
  .circle-wrapper {
    top: 25%;
  }
  .asked {
    padding: 0 10px;
  }
  .asked-menu {
    grid-template-columns: repeat(1, 1fr);

  }
  .award-item {
    :nth-child(2n) ~ div{
      display: none;
    }
  }
  .mail {

    padding-top: 30px;
  }
  .sub_btn {

    right: 30%;
    top: 65%;
  }
  .wrapper-wont-block {

    grid-template-columns: repeat(2, 1fr);

  }

}

@media (max-width: 499px) {
  .footer-nav {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  .footer-nav-tittle_pad {
    padding-left: 0;
  }
}