@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

.section {
    width: 100%;
    margin: 0 auto;
}

.header__wrapper {
    margin: 0 auto;
    min-height: 100%;
    padding: 34px 113px 32px;
    box-sizing: border-box;
    max-width: 1366px;
}

.header {
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%),
    url("../img/illustration.svg") no-repeat 73% 65%;
    min-height: 768px;
    /*filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));*/
    width: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1366px;


}

.notebook {
    color: #316099;
    font-size: 34px;
    align-items: center;
}

.notebook:hover {
    color: #3380dc;
    /*background-color: #ffffff;*/
}

.notebook:active {
    color: #021225;
}

.menu__logo {
    display: flex;
    position: relative;
    align-items: center;
    width: 48px;
    height: 46px;
}

.logo {
    border: 2px solid #316099;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #316099;
    box-sizing: border-box;
    position: absolute;
}

.logo-1 {
    z-index: 1;
}

.logo-2 {
    background-color: #fff;
    left: 20px;
    z-index: 2;
}

.hello__content {
    display: flex;
    flex-direction: column;
    /*margin: 115px 13px 0 113px;*/
    margin: 115px 13px 0 0;
    text-align: left;
}

.title {
    width: 509px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-left: 0;
}

.btn {
    display: inline-block;
    width: 220px;
    height: 56px;
    border-radius: 10px;
    background-color: #5A98D0;
    border: 0;
    color: white;
    text-rendering: auto;
    text-align: center;
    padding: 15px 50px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
}

.btn:hover {
    background-color: #316099;
}

.btn:active {
    background-color: #021225;
}

.text-hero {
    width: 425px;
    height: 82px;
    opacity: 60%;
    margin-top: 32px;
    margin-bottom: 71px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    line-height: 26px;
}

.image-1 {
    box-sizing: border-box;
    margin: 37px 0 0 55px;
    width: 610px;
    height: 486px;
}

.main {
    width: 100%;
}

.h2-main {
    text-align: center;
    margin-top: 64px;
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;
    margin-bottom: 64px;
}

.container {
    display: flex;
    justify-content: space-around;
    min-height: 480px; /* ниже вопрос*/
    gap: 32px;
}

.item {
    display: flex;
    flex-direction: column;
    width: 359px;
    min-heightl: 480px; /* почему не работает тут?*/
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    align-items: flex-start;
    box-sizing: border-box;

}

.item-1 {
    margin-left: 0;
}

.h3-main {
    font-weight: 400;
    text-align: left;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin: 0 44px 0 32px;
}

.text-main {
    margin: 14px 58px 0 32px;
    text-align: left;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.learn {
    text-align: left;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    margin-top: 30px;
    margin-left: 32px;
}

.item-img {
    left: 28%;
    box-sizing: border-box;
    padding: 44px 50px;
}

.item-img-1 {
    padding-left: 100px;
}

.h3-center {
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    margin-top: 64px;
}

.text-center {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 64px;
    text-align: center;
    letter-spacing: 0.05em;
    width: 750px;
    color: #222222;
}

.block-1 {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-end;
    margin-bottom: 32px;
}

.img-block-1 {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.text-block-1 {
    position: absolute;
    margin: 64px 64px 0 0;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.img-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.block-2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 112px;
    gap: 32px;
}

.img-block-2 {
    z-index: 2;

}

.block-2__text {
    position: absolute;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    z-index: 1;
    margin: 32px;
}

.Rectangle {
    position: relative;


}

.Rectangle-1, .Rectangle-2 {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
}

.photo1 {
    position: relative;
    /*align-items: flex-start;*/
    /*width: 554px;*/

}

.iphone {
    position: absolute;
}

.img-block-2, .img-block-3 {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
}

.footer {
    width: 100%;
    background: #316099;

}

.footer_wrapper {
    display: flex;
    flex-direction: column;
    /*width: 1366px;*/
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.footer-top {
    display: flex;
    position: relative;
    /* background: #316099; */
    min-height: 391px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.wrapper-footer-l {
    width: 1366px;
    padding: 91px 113px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.footer-text {
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    font-weight: 400;
}

.wrapper-footer-r {
    text-align: right;
    width: 100%;
    margin-top: 74px;
}

.btn-1 {
    display: inline-block;
    width: 236px;
    height: 56px;
    padding-top: 15px;
    font-size: 16px;
    line-height: 26px;
    background: #5A98D0;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.btn-1:hover {
    background: #1F3F68;
}

.btn-1:active {
    background: #021225;
}

.footer-text-2 {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    margin-bottom: 32px;
    width: 494px;
}

.footer-bottom {
    display: inline-flex;
    flex-direction: column;
    gap: 64px;
    position: relative;
    width: 100%;

}

.contant {
    width: 100%;
    padding: 91px 113px 0;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1366px;
}

.info, .phone, .info-p2 {
    padding-left: 19px;
    font-size: 16px;
    line-height: 26px;
    width: 317px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.rights {
    width: 100%;
    padding-left: 113px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 1366px;

    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}

/*Contact Page 2*____________________________________________*/

.contact-wrapper {
    width: 1366px;
    margin: 0 auto;

}

.header__wrapper {
    width: 100%
}

.menu_page2 {
    padding: 0 113px;
}

.header-contact {
    width: 100%;
    min-height: 250px;
    background: url("../img/MaskGroupPage2.svg");
    /*background-repeat: no-repeat;*/
    /*background-size: 100%;*/

}


.contact-text {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.text-fot-cont {
    position: absolute;
    justify-content: center;
    align-items: center;
}

.img-contact-header {
    margin-top: 54px;
}

.h1-contact {
    /* padding-top: 50px; */
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-align: center;
    /* margin: 0 0 16px; */
    gap: 32px;
}

.text-cont-main {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    max-width: 780px;
    text-align: center;
    margin-top: 0;
}

.main1 {
    width: 100%;
    margin: 0 auto;
}

.form {
    display: flex;

    box-sizing: border-box;
    justify-content: center;
    padding: 0 213px;
}

.tel-form {
    margin-top: 120px;
}

.tel-form__img {
    width: 300px;
    height: 181px;
    box-sizing: border-box;
    margin-bottom: 56px;
    text-decoration: none;
}

.adress {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    left: 0;
    color: #1F3F68;
}

.adress-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
}

.phone-number {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    list-style-image: url('../img/ic_phone_24px.svg');
    padding-left: 30px;
}

.mail-site {
    padding-left: 30px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
}

.mail-site__com {
    list-style-type: none;
    list-style-image: url('../img/ic_language_24px.svg');
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    padding-left: 18px;
    margin-bottom: 16px;
}

.mail-site__gmail {
    list-style-type: none;
    list-style-image: url('../img/ic_email_24px.svg');
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    padding-left: 18px;
}

.phone-number__link {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    padding: 0 0 16px 19px;
}

.form-in {
    width: 540px;
    height: 800px;
    margin: 65px 0 96px 101px;
    padding: 56px;
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}

.form-in__h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 48px;
}

.form-in-form__label {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
}

.form-in-form__input {
    display: flex;
    width: 428px;
    height: 72px;
    border: 1px solid rgba(53, 110, 173, 0.4);
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 42px;
    align-items: center;
    margin-bottom: 32px;
}

.form-in-form__textarea {
    width: 428px;
    height: 144px;
    border: 1px solid rgba(53, 110, 173, 0.4);
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 32px;
    padding-top: 21px;
    padding-left: 36px;
}

input::placeholder {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: rgba(31, 63, 104, 0.2);
}

textarea::placeholder {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: rgba(31, 63, 104, 0.2);
}

.submit {
    width: 428px;
    height: 72px;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 23px;
    outline: none;
    border: none
}

.submit:hover {
    background: #1F3F68;
}

.submit:active {
    background: #021225;
}

.map {
    margin: 0 auto;
    width: 940px;
    height: 480px;
    margin-bottom: 112px;
}

.info-p2:nth-child(2)::marker {
    content: "T.";
}

.info-p2:nth-child(3)::marker {
    content: "E.";
}

@media (max-width: 1200px) {
    .header {
        background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%),
        url(../img/illustration.svg) no-repeat 87% 93%;
        background-size: 46%;
    }
}

@media (max-width: 999.98px) {
    .header {
        background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%),
        url(../img/illustration.svg) no-repeat 87% 93%;
        background-size: 46%;
    }

    .header__wrapper {
        padding: 34px 32px 32px;
    }

    .container {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .item {
        width: 338px;
    }

    .bottom-1 {
        padding-top: 70px;
    }

    .btn-1 {
        width: 133px;
        height: 31px;
        padding-top: 3px;
    }

    .contant {
        gap: 25px;
        flex-wrap: wrap;
    }

    .wrapper-footer-l {
        padding: 91px 113px 0;
        margin-bottom: 55px;
    }

    .footer-text {
        max-width: 336px;
    }

    .text-center {
        max-width: 520px;
    }

    .footer-text-2 {
        width: 336px;
    }

    .info a {
        padding-left: 0;
    }

    .contant li {
        width: 100%;
    }

    .rights {
        padding-left: 90px;
    }



    /*SECOND PAGE_____*/
    .header__wrapper {
        padding: 34px 113px 32px;
    }
    .form {
        padding: 0;
        flex-direction: column;
        align-items: center;
    }

    .tel-form {
        padding: 0 235px 64px;
        text-align: left;
        margin-top: 80px;
    }
    .tel-form__img {
        width: 100%;
        height: 100%;
    }
    .form-in {
        margin: 0 auto;
        margin-bottom: 64px;
    }

    .map {
        margin: 0 auto;
        width: 100%;
        min-height: 480px;
        margin-bottom: 112px;
    }

}


@media (max-width: 767.98px) {

    /*FIRST PAGE______________*/
    .text-block-1 {
        margin: 16px;
        font-size: 16px;
    }

    .block-2__text {
        font-size: 16px;
        margin: 16px;
    }

    .footer-text, .footer-text-2 {
        text-align: center;
        width: 100%;
        /* justify-content: center; */
        /* align-items: center; */
        padding-top: 32px;
        margin: 0 auto;
    }

    .text-center {
        max-width: 520px;
    }

    .wrapper-footer-l {
        margin-bottom: 55px;
        gap: 19px;
        padding: 0 124px;
        flex-direction: column;
    }

    .btn-1 {
        width: 130px;
        height: 31px;
    }

    .bottom-1 {
        padding-top: 0;
    }

    .contant {
        flex-wrap: wrap;
        padding-left: 130px;
        gap: 25px;
    }

    .info a {
        padding-left: 0;
    }

    .contant li {
        width: 100%;
    }

    .rights {
        padding-left: 110px;
    }

    .tel-form {
        padding: 0px 40px 32px;
    }

    .tel-form__img {
        width: 100%;
        height: 100%;
    }
    .mobile {
        padding-left: 40px;
    }
}


@media (max-width: 600.98px) {
    .header {
        background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
        min-height: 376px;
    }

    .title {
        max-width: 325px;
        margin: 0 auto;
        font-weight: 300;
        font-size: 32px;
        line-height: 37px;
        letter-spacing: 0.04em;
        color: #1F3F68;
        /* margin-left: 0; */
        text-align: center;
    }

    .btn {
        margin-bottom: 41px;
    }

    .h2-main {
        font-size: 24px;
        margin-top: 24px;
        margin-bottom: 32px;
    }

    .text-hero {
        font-size: 16px;
        text-align: center;
        width: 100%;
    }

    .item {
        padding: 0 29px 0 41px;
    }

    .text-main, .h3-main {
        margin: 0;
    }

    .item-img {
        padding: 44px 45px;
    }

    .item-img-1 {
        padding-left: 0;
    }

    .hello__content {
        align-items: center;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .text-center {
        max-width: 343px;
    }

    .header__wrapper {
        padding: 24px 16px 0px;
    }

    .block-2 {
        flex-direction: column;
        margin-bottom: 64px;
    }

    .text-block-1 {
        margin: 0;
        font-size: 16px;
        line-height: 46px;
        text-align: right;
    }

    .block-2__text {
        font-size: 16px;
        margin: 0;
        padding: 16px 26px;
    }

    .wrapper-footer-l {
        display: flex;
        flex-direction: column;
        padding: 0 16px;
        margin: 0 auto;
        position: left;
        margin-bottom: 41px;
    }

    .left-side {
        text-align: center;
    }

    .footer-text-2 {
        width: 100%;
        margin: 0 auto;
    }

    .footer-bottom {
        gap: 0;
        padding-left: 16px;
    }

    .contant {
        flex-wrap: wrap;
        padding: 32px 16px;
    }

    .rights {
        padding-left: 0px;
        justify-content: center;
    }

    /*second page*/
    .menu {

        padding-bottom: 16px;
    }

    .form-in {
        max-width: 342px;
        height: 100%;
        padding: 35px;
        min-height: 514px;
        margin: 0 auto;
        margin-bottom: 32px;
    }

    .tel-form {
        padding: 0 0 32px 40px;
    }

    .tel-form__img {
        width: 100%;
        height: 100%;
    }

    .form-in-form__input {
        margin: 32px auto;
        max-width: 271px;
        height: 46px;
    }

    .form-in-form__textarea {
        max-width: 271px;
        height: 92px;
    }

    .submit {
        width: 271px;
        height: 46px;
        padding: 15px;
        box-shadow: 5px 20px 50px rgb(16 112 177 / 10%)
    }

    .map {
        margin-bottom: 32px;
    }

    .mobile {
        padding-left: 40px;
    }
}
