@import url(//db.onlinewebfonts.com/c/623c7118249e082fe87a78e08506cb4b?family=Segoe+UI);

* {
  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

$font_Segoe: "Segoe UI";

$bgr_color: #FAFCFF;
$font_color: rgb(255, 255, 255);
$bgr_col_bottom: #4579CBFF;
$text_color: #666666;

@mixin font_size_title($font_title_size:72px) {
  font-family: $font_Noe;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -0.02em;
  color: $font_color;
  font-size: $font_title_size;
  line-height: 79px;

}

@mixin display_fl_col {
  display: flex;
  flex-direction: column;
}

@mixin display_jc_sb {
  display: flex;
  justify-content: space-between;
}

@mixin button($br_radius:8px) {
  font-family: $font_Segoe;
  width: 170px;
  height: 50px;
  background: $bgr_col_bottom;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: $font_color;
  text-align: center;
  border-radius: $br_radius;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100%;
  margin: 0 auto;
  background-color: #FAFCFF;
  background-size: cover;
  background-repeat: no-repeat;

  &-menu {
    width: 100%;
    display: flex;
    padding: 24px 12% 0;

    &__logo{
      font-family: $font_Segoe;
      //font-style: normal;
      font-weight: 800;
      font-size: 36px;
      line-height: 48px;
      color: $bgr_col_bottom;
      cursor: pointer;
      text-decoration: none;
    }
  }
.menu{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  & ul{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    list-style-type: none;
    gap: 10%;
    padding: 0 5%;
  }

}

  .menu-link{
    font-family: $font_Segoe;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: $text_color;
    &:hover{
      transform: translateX(1px);
      text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #3982e3, 0 0 30px #4579CBFF, 0 0 40px #4579CBFF, 0 0 55px #4579CBFF, 0 0 75px #4579CBFF;
      cursor: pointer;
    }
  }
.btn{

  @include button;

  &:active{

    left: 1px;
    top: 1px;
  }
}

}

@import "media";

