@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/*-----var's------*/
$font_Roboto: "Roboto";
$text_color: #535353;
$bg_color: rgba(255, 255, 255, 0.9);;
$black_color: #222222;
h1 {
  font-size: calc(180px + 110*(100vw/1440));
}

/*-----mixin's------*/
@mixin text($font-size:16px) {
  font-family: $font_Roboto;
  color: $black_color;
  font-size:$font-size;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  align-items: center;

}

/*-----page------*/

.header {
  width: 100%;
  background: $bg_color;
  opacity: 0.8;
  position: sticky;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  max-height: 120px;

  &-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 36px 64px;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
  }
}

.header-menu {
  @include text(20px);
  line-height: 13px;
  letter-spacing: 0.04em;

  &__logo {
    width: 49px;
    height: 48px;
    margin-right: 33px;
  }
}
.menu-link-act{
  &:hover .menu-link-submenu{
    display: block;
    text-align: center;
  }
}
.menu {
  display: flex;
  align-items: center;
  position: relative;

  &-wrapper {
    display: flex;
    gap: 50px;
    position: relative;
  }

  &-link {
    @include text(14px);
    font-weight: 500;
    list-style-type: none;
    position: relative;

    &:hover {
      .active-none {
        display: block;
        width: 74px;
        height: 2px;
        background-color: $black_color;
        position: absolute;
        margin-top: 20px;
        text-align: center;
      }
    }

    img {
      padding-left: 10px;
      margin: 0 auto;
    }

  }

  .burger {
    display: flex;
    gap: 6px;
    flex-direction: column;
  }

  .burger div {
    width: 18px;
    height: 2px;
    background-color: $black_color;

  }
}
.menu-link-submenu{
  list-style-type: none;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 90px;
  max-height: 175px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  z-index: 1;
  padding-left: 0;
}
.menu-link-submenu a {
  color: black;
  padding: 12px 0;
  text-decoration: none;
  display: block;
  &:hover {
    background-color: $black_color;
  color: white;}

}

.active {
  width: 64px;
  height: 2px;
  background-color: $black_color;
  position: absolute;
  margin-top: 20px;
  text-align: center;
}

main {
  width: 100%;
}

.main-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.main-top {
  width: 100%;
  padding-right: 28px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.arrow-main {
  position: absolute;
  display: inline-grid;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  bottom: -9%;
  left: 47%;
  grid-gap: 20px;

  & img {
    padding-top: 20px;
  }
}

.arrow-main__text {
  transform: rotate(-90deg);
  @include text(12px);
  font-weight: 900;
}

.header-h1 {
  @include text();
  font-weight: 700;
  font-size: calc(180px + 110*(100vw/1440));
  line-height: 74px;
  letter-spacing: 0.02em;
  position: absolute;
  left: 190px;
  top: 50px;
}
.header-img{
  display: flex;
  justify-content: flex-end;
}
.header-loft {
  object-fit: contain;
  width: 100%;
}

.window-img {
  max-width: 322px;
  max-height: 440px;
  object-fit: contain;
  width: 100%;
  position: absolute;
  left: 115px;
  bottom: -108px;
}

.main-middle {
  display: flex;
  justify-content: space-between;
  padding: 0 115px;
  margin-bottom: 130px;
  flex-direction: column;

  &-text-loft-1 {
    margin-top: 200px;
    padding-bottom: 94px;
  }

}

.link__list {
  list-style-image: url("/img/mark.png");
  @include text(16px);
  color: $text_color;
  padding-top: 40px;
  padding-left: 14px;
}

.middle-wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;

  .mark-pic {
    position: absolute;
    bottom: -215px;
  }

  .loft-1-kitchen {
    top: 0;
    right: -40px;
  }
}

.main-middle-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.video-block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  float: right;
  flex-direction: column;
  margin-top: 235px;
  padding-bottom: 115px;

  .mark-pic {
    position: absolute;
    right: 0;
    top: 0;
  }

  .loft1-room1__text-marker {
    right: 60px;
    top: -105px;
  }
}

.img-kitchen {
  max-width: 236px;
  max-height: 364px;
}

.text-marker {
  position: absolute;
  transform: rotate(-90deg);
  @include text(10px);
  font-weight: 800;
}

//.youtube-video{
//  margin-top: 204px;
//  margin-left: 70px;
//}
#myVideo {
  max-width: 676px;
  max-height: 388px;
}

.video-block-img {
  position: relative;
  top: -105px;
  right: 100px;
}

.kitchen-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  position: relative;
}

.tittle-text {
  display: flex;
  gap: 36px;
  align-items: end;
}

.title-list {
  padding-bottom: 90px;
}

.kitchen-wrapper__ico {
  max-width: 48px;
  max-height: 48px;
}

.kitchen-wrapper-img {
  max-width: 354px;
  max-height: 500px;
  margin-left: 170px;
}

.tittle__h2 {
  @include text(36px);
  font-weight: 700;
  letter-spacing: 0.02em;
}

.tittle-line {
  width: 44px;
  height: 4px;
}

.bedroom{
  margin-top: 30px;
  .bedroom-images{
    position: relative;
    z-index: 1;
  }
  .first-images{
    position: relative;

  }
  //.bedroom-img2{
  //  position: absolute;
  //  bottom: -75px;
  //  left: 555px;
  //}
  .mark-pic{
    display: flex;
    position: absolute;
    bottom: -75px;
    left: 555px;
  }
  .text-marker{
    right: -40px;
  }
}
.salon{
  display: flex;
  justify-content: space-between;
  padding: 0 115px;
  margin-bottom: 115px;
  flex-direction: column;
  .salon_right-img{
    position: absolute;
    display: inline-flex;
    right: 0;
    top: 225px;
  }
  .text-marker{
    left: -40px;
  }
  .salon__text-marker{
    left: 240px;
    top: 0;
  }
  .title-list{
    padding-top: 60px;
    float: right;
  }
}
.salon-wrapper{
  display: flex;
  max-height: 725px;
  gap: 165px;
  position: relative;
}
.bathroom{
  padding-top: 30px;
  &-images{
    position: absolute;
    top: 0;
    z-index: -1;
    padding-left: 80px;
    padding-top: 140px;
  }

  .salon__text-marker{
    left: 210px;
  }
  &-images-wrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
    .title-list{
      padding-top: 85px;
      padding-right: 65px;
    }
  }

}
.sauna{
  position: relative;
  margin: 0 auto;
  padding: 80px 0px 125px;
  margin-left: 24%;
  .sauna-up{
    position: absolute;
    right: -32%;
    top: -10%;
  }
  .sauna-down{
    position: absolute;
    bottom: 0;
    left: -43%;
    z-index: -1;
  }
  .text-marker{
    left: -40px;
    top: 13%;
  }
}



.footer{
  background-color: $black_color;
  width: 100%;
}
.footer-wrapper{
  max-width: 1440px;
  padding: 80px 115px 85px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer-menu{
  &__name{
    @include text(20px);
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.04em;
    color: $bg_color;
    padding-left: 30px;
  }
}
.footer-menu-log{
  padding-bottom: 80px;
}
.footer-nav-link{
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style-type: none;
  @include text(14px);
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
  padding: 0;
  margin: 0;
  align-items: flex-start;
}

.massagers{
  display: flex;
  gap: 70px;
}
.address{
  display: flex;
  padding-top: 80px;
  gap: 23px;
}
.address p{
  @include text(16px);
  color: $bg_color;
}

.phone-number{
  @include text(36px);
  font-weight: 300;
  color: $bg_color;
  margin-bottom: 47px;
}
.phone-number a {
  padding-left: 30px;
}
.mobile{
  padding-top: 80px;
}
.footer-bottom{
  margin: 0 auto;
  display: flex;
}
.rights{
  max-width: 1440px;
  padding: 80px 115px 85px;

  @include text(14px);
  color: rgba(255, 255, 255, 0.4);
  margin: 0 auto;
}
p{
  font-size: calc(16px + 12*(100vw/1440));
}

@import "media";


