@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

/*-----var's------*/
/*-----mixin's------*/
/*-----page------*/
.header {
  width: 100%;
  background: #FFFFFF;
  opacity: 0.8;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  max-height: 120px; }
  .header-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 36px 64px;
    max-width: 1440px;
    display: flex;
    justify-content: space-between; }

.header-menu {
  font-family: "Roboto";
  color: #222222;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  align-items: center;
  font-size: 20px;
  line-height: 13px;
  letter-spacing: 0.04em; }
  .header-menu__logo {
    width: 49px;
    height: 48px;
    margin-right: 33px; }

.menu {
  display: flex;
  align-items: center; }
  .menu-wrapper {
    display: flex;
    gap: 50px;
    position: relative; }
  .menu-link {
    font-family: "Roboto";
    color: #222222;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    align-items: center;
    font-weight: 500;
    list-style-type: none; }
    .menu-link:hover .active-none {
      display: block;
      width: 74px;
      height: 2px;
      background-color: #222222;
      position: absolute;
      margin-top: 20px;
      text-align: center; }
    .menu-link img {
      padding-left: 10px;
      margin: 0 auto; }
  .menu .burger {
    display: flex;
    gap: 6px;
    flex-direction: column; }
  .menu .burger div {
    width: 18px;
    height: 2px;
    background-color: #222222; }

.active {
  width: 64px;
  height: 2px;
  background-color: #222222;
  position: absolute;
  margin-top: 20px;
  text-align: center; }

main {
  width: 100%; }

.main-wrapper {
  max-width: 1440px;
  margin: 0 auto; }

.main-top {
  width: 100%;
  padding-right: 28px;
  display: flex;
  justify-content: flex-end;
  position: relative; }

.arrow-main {
  position: absolute;
  display: inline-grid;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  bottom: -9%;
  left: 47%;
  grid-gap: 20px; }
  .arrow-main img {
    padding-top: 20px; }

.arrow-main__text {
  transform: rotate(-90deg);
  font-family: "Roboto";
  color: #222222;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  align-items: center;
  font-weight: 900; }

.header-h1 {
  font-family: "Roboto";
  color: #222222;
  font-size: 180px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  align-items: center;
  font-weight: 700;
  font-size: 180px;
  line-height: 74px;
  letter-spacing: 0.02em;
  position: absolute;
  left: 190px;
  top: 50px; }

.header-loft-1 {
  max-width: 1030px;
  max-height: 700px; }

.window-img {
  width: 322px;
  height: 440px;
  position: absolute;
  left: 150px;
  bottom: -108px; }

.main-middle {
  max-width: 1440px; }
  .main-middle-text-loft-1 {
    padding: 200px 0 0 200px; }
  .main-middle-text-loft-1__link {
    list-style-image: url("/img/mark.png");
    font-family: "Roboto";
    color: #222222;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    align-items: center;
    color: #535353;
    padding-bottom: 40px; }

/*# sourceMappingURL=style.css.map */
