@charset "UTF-8";
@import url(//db.onlinewebfonts.com/c/1a0f9c82ae37cc35dc3c8e6c81ea95a4?family=Larsseit);
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300&display=swap");
@import url(//db.onlinewebfonts.com/c/30a71dcf9a1c39558ca4e97c92a4b2fa?family=Noe+Display+Bold);
* {
  text-decoration: none;
  box-sizing: border-box; }

/*хочу сделать If для радиуса -
если в меню то 48px, если нет то 183px*/
.header {
  width: 100%;
  margin: 0 auto;
  background-image: url("../img/bg-header.png");
  background-size: 100%;
  background-repeat: no-repeat; }
  .header .container {
    padding: 75px 250px;
    margin: 0 auto;
    max-width: 1920px; }
  .header_container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: linear-gradient(180deg, rgba(1, 22, 39, 0) 28%, #011627 90.64%, #011627 0%);
    background-size: 100%; }
    .header_container__top {
      display: flex;
      justify-content: space-between; }

.logo__text {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: white;
  margin: 0;
  line-height: 190%; }

.menu {
  min-width: 200px; }
  .menu .search {
    display: flex;
    gap: 37px; }
  .menu input[type=text] {
    width: 30px;
    box-sizing: border-box;
    border: none;
    font-size: 16px;
    background-color: inherit;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    padding: 12px 20px 10px 40px;
    -webkit-transition: width 2s linear;
    transition: width 2s linear;
    background-position: right 10px center;
    color: white;
    outline: 1px solid rgba(255, 255, 255, 0);
    border-radius: 48px;
    text-transform: capitalize; }
  .menu input::-webkit-input-placeholder {
    color: white;
    opacity: 0.8; }
  .menu input[type=text]:hover {
    width: 400px;
    outline: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 48px;
    color: white;
    opacity: 0.8;
    transition: 2s; }
  .menu .btn_menu {
    position: relative;
    width: 167px;
    height: 62px;
    background-color: #41ead4;
    box-shadow: 5px 15px 40px rgba(0, 201, 224, 0.2);
    background-color: #41ead4;
    font-family: "Larsseit";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding-top: 5px;
    border-radius: 48px;
    border-radius: 48px;
    border: none; }
    .menu .btn_menu:active {
      top: 1px;
      left: 1px; }
  .menu .line {
    position: absolute;
    border: 1px solid white;
    width: 30px;
    border-radius: 16px;
    right: -15px;
    top: 30px; }

.title {
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center; }
  .title_top {
    font-family: "Noe Display";
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.02em;
    color: white;
    font-size: 120px;
    margin: 0;
    padding-top: 156px; }
    .title_top__slogan {
      font-family: "Larsseit";
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: white;
      padding: 14px 0 50px; }
    .title_top__text {
      font-family: "Larsseit";
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 150%;
      text-align: center;
      color: white;
      max-width: 643px; }

.header_wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 192px;
  padding-bottom: 234px; }
  .header_wrapper .scroll {
    position: relative; }
    .header_wrapper .scroll_line {
      background: linear-gradient(180deg, #09F4F4 0%, #00C9E0 100%);
      border-radius: 13px;
      width: 2px;
      height: 80px; }
    .header_wrapper .scroll_text {
      position: absolute;
      font-family: "Larsseit";
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 190%;
      letter-spacing: 0.05em;
      color: white;
      opacity: 0.9;
      transform: rotate(-90deg);
      margin: 0; }
  .header_wrapper .social {
    display: flex;
    flex-direction: column;
    gap: 26px;
    transition: 2s; }
  .header_wrapper .social_img:hover {
    transform: rotate(360deg);
    transition: 2s; }

.main {
  background-color: #011627FF;
  background-image: url("../img/bg_top_light.png"); }

/*# sourceMappingURL=style.css.map */
