@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: Roboto;
    text-decoration: none;
    box-sizing: border-box;

}

.header, .main, .footer {
    /*border: 1px solid red;*/


}

.wrapper{
    display: flex;
    flex-direction: column;
    min-width: 1366px;

    margin: 0 auto;
}

.header {
    text-align: center;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    min-height: 768px;
    width: 100%;
}

.menu {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: 41px 113px 0;

}

.notebook {
    color: #316099;
    font-size: 34px;
    align-items: center;
}

.notebook:hover {
    color: #3380dc;
    background-color: #ffffff;
}

.notebook:active {
    color: #021225;
}

.wrapper-logo {
    display: flex;
    position: relative;
    align-items: center;
    width: 48px;
    height: 46px;
}

.logo {
    border: 2px solid #316099;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #316099;
    box-sizing: border-box;
    position: absolute;
}

.logo-1 {
    z-index: 1;
}

.logo-2 {
    background-color: #fff;
    left: 20px;
    z-index: 2;
}

.hero{
    display: flex;
    justify-content: space-between;
}

.hello-content {
    flex-direction: column;
    margin: 115px 13px 0 113px;
    text-align: left;
}


.title {
    width: 509px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.btn {
    display: inline-block;
    width: 220px;
    height: 56px;
    border-radius: 10px;
    background-color: #5A98D0;
    border: 0;
    color: white;
    text-rendering: auto;

    text-align: center;
    padding: 15px 50px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
}

.btn:hover {
    background-color: #316099;
}

.btn:active {
    background-color: #021225;
}

.text-hero {
    width: 425px;
    height: 82px;
    opacity: 60%;
    margin-top: 32px;
    margin-bottom: 71px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    line-height: 26px;
    /*узначить что за blend: Pass through*/
}

.main-img{

    /*box-sizing: border-box;*/
    box-sizing: border-box;
    width: 648px;
    height: 549px;
    margin: 72px 87px 60px 0;

}

.image-1{
    box-sizing: border-box;
    margin: 37px 0 0 55px;
    width: 610px;
    height: 486px;
}

.main{
    width: 100%;
}

.h2-main{
    text-align: center;
    margin-top: 64px;
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;
    margin-bottom: 64px;

}

.container{
    display: flex;
    justify-content: space-around;
    margin: 0 113px;
}

.item{
    display: flex;
    flex-direction: column;
    width: 359px;
    height: 480px;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    /*position: relative;*/
    align-items: flex-start;
    -webkit-box-sizing: border-box;
    margin-left: 32px;

}

.item-1{
    margin-left: 0;
}

.h3-main{
    text-align: left;
    /*padding: 216px 44px 209px 32px;*/
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin: 0 44px 0 32px;
}

.text-main{

    margin: 14px 58px 0 32px ;
    text-align: left;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    /*padding: 285px 58px 101px 32px;*/
    /*position: absolute;*/
}

.learn{
    text-align: left;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    margin-top: 30px;
    margin-left: 32px;

}

.item-img{

    margin: 44px 117px 50px;
    left: 28.05%;
    box-sizing: border-box;
}

.item-img-1{
    margin-left: 50px;
}

.h3-center{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    margin-top: 64px;
}

.text-center{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 64px;
    text-align: center;
    letter-spacing: 0.05em;
    width: 750px;
    color: #222222;
}

.block-1{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-end;
    margin-bottom: 32px;


}

.img-block-1{
    border-radius: 10px;

}

.text-block-1{
    position: absolute;
    margin: 64px 64px 0 0;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.img-mask{
    position: absolute;
    background: url(alberto-castillo-q-mx4mSkK9zeo-unsplash);
    border-radius: 10px;
}

.container-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.block-2{
    display: flex;
    /*position: relative;*/
    justify-content: space-between;
    margin-bottom: 112px;

}
.img-block-2{
    z-index: 2;
}

.Rectangle{
    position: relative;
    width: 554px;
}

.Rectangle-1, .Rectangle-2{
    position: absolute;
    top: 0;
    left: 0;
}

.img-block-3{

}

.photo1{
    position: relative;
    align-items: flex-start;
    width: 554px;
    margin-right: 32px;
}

.iphone{
    position: absolute;
}

.img-block-2, .img-block-3{

    border-radius: 10px;

}


.footer{
    display: flex;
    position: relative;
    background: #316099;
    min-height: 675px;
    width: 100%;
}

.footer-text{
    margin: 91px 0 0 113px;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    font-weight: 400;
}

.wrapper-footer-r{
    position: absolute;
    justify-content: flex-end;
}

.btn-1{
    margin: 165px 114px 0 0;
    text-align: right;
}

.footer-text-2{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    margin-left: 113px;
    margin-bottom: 32px;
    width: 494px;
}