@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;

}

/*-----переменные------*/
$font_Roboto: "Roboto";
$text_color: #535353;
$bg_color: #FFFFFF;
$black_color: #222222;

/*-----mixin's------*/
@mixin text($font-size:16px) {
  font-family: $font_Roboto;
  color: $text_color;
  font-size: $font-size;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  align-items: center;

}

/*@mixin button($br_radius:8px) {
  font-family: $font_Segoe;
  width: 170px;
  height: 50px;
  background: $bgr_col_bottom;
  @include text();
  font-weight: bold;
  color: $bgr_color;
  text-align: center;
  border-radius: $br_radius;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}*/

/*-----page------*/

.header {
  width: 100%;
  background: $bg_color;
  opacity: 0.8;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  max-height: 120px;

  &-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 36px 64px;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
  }

}

.header-menu {

  @include text(20px);
  font-size: 20px;
  line-height: 13px;
  letter-spacing: 0.04em;

  &__logo {
    width: 49px;
    height: 48px;
    margin-right: 33px;
  }
}

.menu {
  display: flex;
  align-items: center;

  &-wrapper {
    display: flex;
    gap: 50px;
    position: relative;
  }

  &-link {
    @include text(14px);
    font-weight: 500;
    list-style-type: none;

    img {
      padding-left: 10px;
      margin: 0 auto;
    }

  }

  .burger {
    display: flex;
    gap: 6px;
    flex-direction: column;
  }

  .burger div {
    width: 18px;
    height: 2px;
    background-color: $black_color;

  }
}

.active {
  width: 64px;
  height: 2px;
  background-color: $black_color;
  position: absolute;
  margin-top: 20px;
  text-align: center;
  //display: none;
}

.main-wrapper {
  width: 100%;
}

.main-top {
  margin: 0 auto;
  width: 100%;
  padding-right: 28px;
  display: flex;
  max-width: 1440px;
  justify-content: flex-end;
  position: relative;
}

.header-h1 {
  @include text(180px);
  font-weight: 700;
  font-size: 180px;
  line-height: 74px;
  letter-spacing: 0.02em;
  position: absolute;
  left: 190px;
  top: 50px;
}

.header-loft-1 {
  max-width: 1030px;
  max-height: 700px;
}

/*.header-menu {
  max-width: 1440px;
  display: flex;
  padding: 24px 10% 24px;
  margin: 0 auto;

  &__logo {
    @include text(36px);
    font-style: normal;
    font-weight: 800;
    line-height: 48px;
    color: $bgr_col_bottom;
    cursor: pointer;
    text-decoration: none;
    transition: text-shadow 2s, color 1s;
    box-sizing: border-box;

    &:hover {
      //-webkit-text-stroke-width: 1px;
      //-webkit-text-stroke-color: $bgr_col_bottom;
      text-shadow: 2px 2px 10px $bgr_col_bottom;
      color: $font_color;

    }
  }
}*/


//@import "media";

